<div class="settings-form-container">
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <legend>Settings</legend>
            <label for="unit">Unit</label>
            <input type="text" id="unit" placeholder="unit" class="pure-u-1" ng-model="$ctrl.unit" />
            <button type="button" class="pure-button pure-input-1 pure-button-primary" ng-click="$ctrl.handleSaveClick()">Save</button>
            <hr />
            <label for="database-file">Upload Database File</label>
            <input type="file" id="database-file" placeholder="unit" class="pure-u-1" />
            <button id="upload" class="pure-button pure-u-1 background-yellow" type="button" ng-click="$ctrl.handleUploadClick()">
                Upload
            </button>
            <hr />
            <button id="download" class="pure-button pure-u-1 background-green" type="button" ng-click="$ctrl.handleDownloadClick()">
                Download Database File
            </button>
            <hr />
            <p>
                Checkout the <a href="#!/help-screen">Help Screen</a> for some general information.
            </p>
            <hr />
            <p>
                For the best experience
                <button type="button" class="pure-button" ng-click="$ctrl.resizeWindow()">Resize to 411X731</button>.
            </p>
            <hr />
            <install-button></install-button>
        </fieldset>
    </form>
    <div>
    </div>
</div>