.app-bar {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.app-bar .buttons-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container {
    margin-bottom: 50px;
}

.background-yellow {
    background-color: #FFCC33;
    font-weight: 600;
}
.background-green {
    background-color: #66CC33;
    font-weight: 600;
}

/** Settings Form Container **/
.settings-form-container {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.settings-form-container form {
    height: calc(100vh - 50px);
    width: 100%;
}

/** New Item Form**/
.new-item-form-container {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.new-item-form-container form {
    height: calc(100vh - 50px);
    width: 100%;
}
.new-item-form-container form .save-button-container {
    position: fixed;
    bottom: 50px;
    width: 100%;
    left: 0;
}

/** Calculator Table**/
.average-container {
    padding: 10px 5px 10px 5px; 
    margin: 3px;
    border: 1px solid #333333;
    border-radius: 3px;
    background-color: #99CCFF;
    text-align: center;
}
.average-container .average-label {
    font-weight: 600;
}

.calculator-table-container .tbody .tr {
    border-bottom: 1px solid black;
    margin: 3px 0 3px 0;
}

.calculator-table-container .tbody {
    margin: 5px;
}
.calculator-table-container .thead {
    background-color: #cccccc;
    padding: 5px 0 5px 0;
    font-weight: 600;
}
.calculator-table-container .table .th {
    border-right: 1px solid black;
}
.calculator-table-container .table .th.end-column {
    border: none;
}
.calculator-table-container .table .th.th--left-aligned {
    padding-left: 1em;
}
.calculator-table-container .table .th.center {
    text-align: center;
}
.calculator-table-container .table .td.notes {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.calculator-table-container .table .td.values {
    text-align: center;
}
.calculator-table-container .table .td.dates {
    text-align: center;
}

/** Icons **/
.icon-button {
    cursor: pointer;
}
.icon-container {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 5px;
}
.icon-container .icon {
    color: #fff;
}

/** Drawer **/
.drawerBackground {
    position: fixed;
    top: 0;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 999;
    transition: 0.3s;
    width: 0;
}
.drawerBackground.open {
  width: 100%;
}

.drawerBackground.left {
  left: 0;
}

.drawerBackground.right {
  right: 0;
}

.drawer {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: auto;
    border-radius: 0.2em;
    background: white;
    z-index: 9999;
    overflow: hidden;
    transition: 0.3s;
    min-width: 0;
    width: 0;
}

.drawer.open {
  overflow: visible;
  min-width: 60vw;

    @media (min-width: 48em) {
        min-width: 25vw;
    }
}

.drawer.left {
    left: 0;
}

.drawer.left .closeButtonContainer {
    text-align: right;
    height: 0;
}

.drawer.left .closeButton {
    position: relative;
    right: -40px;
    top: 20px;
    width: 40px;
    height: 40px;
    background: #fff;
    outline: none;
    border: none;
    font-weight: bolder;
}

.drawer.right {
    right: 0;
}

.drawer.right .closeButtonContainer {
    text-align: left;
    height: 0;
}

.drawer.right .closeButton {
    position: relative;
    right: 40px;
    top: 20px;
    width: 40px;
    height: 40px;
    background: #fff;
    outline: none;
    border: none;
    font-weight: bolder;
}